@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@1,500&display=swap');
body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}


/*--------------------------------------------------------------
# MAIN -ANITA
--------------------------------------------------------------*/
.main-h5 {
  text-align: center;
  font-family:'Oswald', sans-serif;
  font-weight:400;}
.img-1{
    height: 20vh;
    width: auto;
}
.main-title {  
  font-family: "Courgette", cursive;
  color:black;
  font-style: italic;
}
.main-paragraphe{
  font-family: 'Oswald', sans-serif;
  color:black;
  font-size:x-small;
}


