@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Poppins:ital,wght@1,500&display=swap');
body {
  background-color: #f5f5f5;
  color: #4e4e4e;
}

/*--------------------------------------------------------------
# MAIN -ANITA
--------------------------------------------------------------*/
.main {
  margin: auto;
  padding: 5%;
}
.main-h5 {
  text-align: center;
  font-family:'Oswald', sans-serif;
  font-weight:400;}
.img-1{
    height: 15vh;
    width: auto;
}
.main-title {  
  font-family: "Courgette", cursive;
  color:black;
  font-style: italic;
}
.main-paragraphe{
  font-family: 'Oswald', sans-serif;
  color:black;
  font-size:x-small;
}
main a {
  color: rgb(133, 133, 133);
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
}
/*--------------------------------------------------------------
# VOS ARTICLES
--------------------------------------------------------------*/

.first-letter{
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}
.img-team-1 {
  border-radius: 50%;
  height: 12vh;
  width: auto;
  align-items: center;

}

.img-logo-black{
  width: 60%;
  height: auto;
}
/*--------------------------------------------------------------
# VOS RECETTES
--------------------------------------------------------------*/

.time {
  background-color: rgb(211, 209, 209);
}
h6 {
  font-family: "Courgette", cursive;
  font-weight: 600;
}
p,
button {
  font-family: "Oswald", sans-serif;
}



