@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Poppins:wght@100;300&display=swap");
body {
  background-color: #ffffff;
  color: #4e4e4e;
}
header {
  width: 100%;
  height: 80vh;
}
 @media (min-width: 768px) {
  header {
    width: 100%;
    height: 5%;
  }
} 

/*--------------------------------------------------------------
# NAVIGATION
--------------------------------------------------------------*/
nav {
  border-bottom: 1px solid rgb(223, 223, 223);
  color: white;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .navbar a {
    display: block;
  }
}
/*--------------------------------------------------------------
# INTRO Section
--------------------------------------------------------------*/
.navbar-brand,
.intro-title,
.intro-subtitle {
  font-family: "Courgette", cursive;
  color: #fff;
}
.intro {
  height: 80vh;
  position: relative;
  color: #fff;
}
@media (max-width: 768px) {
  .intro {
    height: 40vh;
    width: auto;
  }
}
.intro .intro-content {
  text-align: center;
  position: relative;
  margin-top: 12%;
}
.intro .overlay-itro {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.9;
}
.logo_square_white {
  width: 5%;
  height: auto;
}
.intro .intro-title {
  color: #fff;
  font-weight: 600;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .intro .intro-title {
    font-size: 4.5rem;
  }
}
.intro .intro-subtitle {
  font-size: 1.5rem;
  font-weight: 500;
}
@media (min-width: 768px) {
  .intro .intro-subtitle {
    font-size: 2.5rem;
  }
}
.intro .text-slider-items {
  display: none;
}
.intro-single {
  height: 350px;
}
.intro-single .intro-content {
  margin-top: 30px;
}
.intro-single .intro-title {
  text-transform: uppercase;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .intro-single .intro-title {
    font-size: 3.5rem;
  }
}

/*--------------------------------------------------------------
# FOOTER
--------------------------------------------------------------*/
footer {
  background-color: black;
  color: #fff;
  width: 100%;
  height: auto;
  padding: 2%;
}
.footer-title {
  font-family: "Courgette", cursive;
}
footer a {
  color: rgb(211, 211, 211);
}
